// 锚点基础样式
.anchor {
    text-decoration: none;
    display: inline-flex;
    align-items: last baseline;
    margin-left: 8px;
    opacity: 0; // 初始隐藏
    transition: opacity 0.2s ease-in-out;

    svg {
      fill: map-get($map: $color-set-2, $key: accent-100);
    }
  }
  
  // 标题通用样式
  h1, h2, h3, h4, h5, h6 {
    position: relative;
  
    &:hover {
      .anchor {
        opacity: 1; // 鼠标悬停时显示锚点
      }
    }
  
    // 控制标题和锚点之间的间距
    .anchor {
      margin-left: 0px;
    }
  }
  