.archive-container {
    max-width: 800px; /* 设置最大宽度 */
    margin: 0 auto; /* 居中对齐 */
    padding: 20px;

    .icon-text-container {
      display: flex; // 使用 Flexbox 布局
      align-items: center; // 垂直居中对齐
      gap: 4px; // 图标和文字之间的间距
      opacity: 0.5;
    
      .material-icons {
        margin-right: 4px; // 图标与文字之间的间距
        vertical-align: middle; // 确保图标在文字中垂直居中
      }
    
      .text-info {
        display: flex; // 子内容使用 Flexbox
        flex-direction: row; // 改为行方向
        align-items: center; // 垂直居中
        gap: 8px; // 子内容之间的间距
        color: map-get($color-set-2, accent-100);
        font-size: 0.9em;
    
        p {
          margin: 0; // 移除默认的段落间距
          display: flex; // 使用 Flexbox 布局，方便对齐内部内容
          align-items: center; // 垂直居中对齐
        }
    
        .icon {
          display: inline-block; // SVG 图标的内联块布局
          margin-right: 8px; // 图标与后续文字之间的间距
        }
      }
    }
  
    h1 {
      font-size: 2.5rem; /* 主标题字体大小 */
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
      color: map-get($color-set-3, accent-100);
      padding-bottom: 40px;
    }
  
    h2 {
      font-size: 1.8rem; /* 分组标题字体大小 */
      font-weight: bold;
      color: map-get($color-set-1, text-100);; /* 分组标题颜色 */
      margin-top: 30px;
      margin-bottom: 15px;
      border-left: 4px solid map-get($color-set-2, primary-200); /* 左侧绿色边框 */
      padding-left: 10px;
    }
  
    ul {
      list-style: none; /* 去掉默认列表样式 */
      margin: 0;
      padding: 0;
  
      li {
        display: flex; /* 行内布局 */
        flex-direction: column;
        align-items: flex-start; /* 左对齐 */
        padding: 10px 0;
        border-bottom: 1px solid map-get($color-set-2, bg-100); /* 下边框分隔线 */
        transition: background-color 0.3s ease;
        border-radius: 8px;
  
        &:hover {
          background-color: map-get($color-set-1, bg-100); /* 鼠标悬浮时背景 */
        }
  
        a {
          text-decoration: none; /* 去掉下划线 */
          color: map-get($color-set-3, accent-100); /* 链接颜色 */
          font-size: 1.1rem; /* 标题字体大小 */
          font-weight: bold;
          padding-left: 40px;
  
          &:hover {
            text-decoration: none; /* 鼠标悬浮下划线 */
            color: map-get($color-set-3, text-100); /* 鼠标悬浮时颜色 */
          }
        }
      }
    }
  }
  