body {
  margin: 0; /* 移除默认的外边距 */
  padding-top: 100px; /* 添加顶部间距，等于 header 的高度 */
  padding-bottom: 60px;
  min-height: 100vh; /* 确保占据至少整个视口的高度 */
  background-color: map-get($color-set-1, bg-200); /* 设置背景颜色 */
  color: map-get($color-set-1, text-100); /* 设置字体颜色 */
  font-family: $font-base;
  font-weight: 600;
  line-height: 200%;
  letter-spacing: 0.05em;

  ::selection {
    background-color: map-get($color-set-1, primary-100); /* 选中文本背景色 */
    color: map-get($color-set-1, text-100); /* 选中文本字体颜色 */
  }

  .container {
    max-width: 60%; /* 最大宽度 */
    margin: 0 auto; /* 水平居中 */

    h1 {
      font-size: clamp(1.8rem, 4vw, 2rem);
      line-height: 1.5;
    }

    .site-main {
      transform-origin: top center; /* 确保缩放从顶部中心开始 */
      transition: transform 0.3s ease; /* 平滑缩放动画 */

      table {
        border-collapse: collapse;
        width: 100%;

        thead {
          th {
            background-color: map-get($color-set-1, bg-100); // 表头背景色
            color: map-get($color-set-1, text-100); // 表头文字颜色
            text-align: left;
            border-bottom: 2px solid map-get($color-set-1, primary-300); // 表头与内容的分隔线
            border-top: 2px solid map-get($color-set-1, primary-300); // 表头与内容的分隔线
            padding: 10px;
            vertical-align: bottom; // 标题栏向下对齐
            font-weight: bold; // 加粗表头
          }
        }

        tbody {
          td {
            border-bottom: 1px solid map-get($color-set-1, bg-300); // 表体行分隔线
            padding: 10px;
            text-align: left;
            color: map-get($color-set-1, text-200); // 表体文字颜色
            background-color: map-get($color-set-1, bg-100); // 表体背景色
            vertical-align: top; // 内容向上对齐
          }

          tr:last-child td {
            border-bottom: 2px solid map-get($color-set-1, primary-300); // 表头与内容的分隔线
          }

          tr:hover {
            background-color: map-get(
              $color-set-1,
              primary-100
            ); // 表体行悬停背景色
          }
        }

        caption {
          margin-bottom: 10px;
          font-weight: bold;
          font-size: 1.2em;
          text-align: left;
          color: map-get($color-set-1, primary-300);
        }
      }

      /* 代码块 */
      .highlight {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        padding: 5px;
        overflow: auto;

        pre {
          font-size: 0.9rem;
          line-height: 1.5;
          margin: 0;
          padding: 5px 0;
          overflow: auto;
          position: relative;
          width: 100%;
        }
      }

      /* 针对小屏幕优化 */
      @media (max-width: 768px) {
        .highlight {
          flex-direction: column; /* 在小屏幕上改为垂直方向布局 */
          padding: 8px; /* 缩小整体内边距 */
          font-size: 0.8rem; /* 再次调整字体大小以适应屏幕 */
          overflow-x: auto; /* 仍保留水平滚动条 */

          pre {
            font-size: 0.8rem; /* 字体更小以适配小屏幕 */
            padding: 5px; /* 调整内边距 */
            white-space: pre-wrap; /* 自动换行 */
            word-wrap: break-word; /* 长内容可断词 */
          }
        }
      }

      code {
        font-family: $font-code !important;
      }

      img {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        border: 1px solid map-get($color-set-1, bg-200);
        border-radius: 8px;
        box-shadow: 0 4px 8px map-get($color-set-1, bg-200);
      }

      .mermaid {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        border: 1px solid map-get($color-set-1, bg-200);
        border-radius: 8px;
        box-shadow: 0 4px 8px map-get($color-set-1, bg-200);
      }
    }
    @media (max-width: 1200px) {
      max-width: 95%; /* 小屏幕自适应宽度 */
    }

    @media (max-width: 768px) {
      max-width: 100%; /* 超小屏幕宽度全屏 */
      padding: 10px; /* 减少内边距 */
    }
  }
}

*::-webkit-scrollbar {
  width: 2px; /* 固定滚动条宽度，避免动态变化 */
  height: 1px; /* 固定水平滚动条高度 */
  background: transparent; /* 默认透明 */
}

*::-webkit-scrollbar-track {
  background: map-get($color-set-2, bg-300);
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out; /* 平滑轨道背景变化 */
}

/* 滑块默认样式 */
*::-webkit-scrollbar-thumb {
  background: map-get($color-set-2, accent-200);
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out; /* 添加滑块的平滑变化 */
  opacity: 0;
}

/* 鼠标悬浮到内容区域时，显示滑块 */
*:hover::-webkit-scrollbar-thumb {
  background: map-get($color-set-4, primary-100); /* 鼠标悬浮时，滑块颜色变亮 */
  opacity: 1; /* 滑块变得可见 */
  width: 2px;
  height: 2px;
}

/* 鼠标悬浮到滑块时进一步调整颜色 */
*::-webkit-scrollbar-thumb:hover {
  background: map-get($color-set-2, primary-200); /* 鼠标悬浮时，滑块颜色变亮 */
}
