.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: map-get($color-set-1, bg-200);
    color: map-get($color-set-1, text-200);
    text-align: center;
    z-index: 9999;

    a {
        text-decoration: none;
        color: map-get($color-set-1, accent-100);
        // font-size: 1.2rem;

        &:hover {
          color: map-get($color-set-1, accent-200);
          text-decoration: underline;
        }
      }
  }