.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: map-get($color-set-1, bg-200);
  border-bottom: 1px solid map-get($color-set-1, bg-300);
  z-index: 1000;
  padding: 15px 20px;
  box-shadow: 0 8px 15px map-get($map: $color-set-1, $key: bg-300);
  color: map-get($color-set-1, text-100);
  font-weight: bold;

  user-select: none;

  .header-container {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 1200px) {
      max-width: 100%;
    }

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  .header-left {
    position: relative;

    .site-title {
      display: flex;
      align-items: center;

      /* Tooltip styling */
      &::after {
        content: "Home";
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        color: map-get($color-set-1, accent-200);
        padding: 2px 8px;
        border-radius: 8px;
        font-size: 10px;
        font-weight: bold;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%) translateY(10px);
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
      }

      /* Add a small triangle under the tooltip */
      &::before {
        content: "";
        position: absolute;
        top: 32px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px;
        border-style: solid;
        border-color: transparent transparent map-get($color-set-1, accent-200)
          transparent;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
      }

      /* Show the tooltip on hover */
      &:hover::after,
      &:hover::before {
        opacity: 0.6;
        visibility: visible;
        transform: translateX(-50%) translateY(0);
      }
    }
  }

  .header-center {
    display: flex;
    gap: 15px;
    font-weight: 600;
    margin-left: 50px;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 1rem;
      color: map-get($color-set-1, text-200);
      position: relative;

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        background: map-get($color-set-1, accent-200);
        width: 0%;
        transition: width 0.5s;
      }

      &::before {
        top: 0;
        left: 0;
      }

      &::after {
        bottom: 0;
        right: 0;
      }

      &:hover::before,
      &:hover::after {
        width: 100%;
      }
    }

    .dropdown {
      position: relative;

      .dropdown-toggle {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        transition: transform 0.3s ease;

        svg {
          transition: transform 0.3s ease;
        }
      }

      .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: map-get($color-set-1, bg-200);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 9999;
        padding: 5px 5px;

        min-width: 150px;
        transform: translateY(10px);
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;

        a {
          display: block;
          text-decoration: none;
          color: map-get($color-set-1, text-100);
          margin: 1px 0;
          border-radius: 4px;
          font-size: 0.8rem;

          &:hover {
            background-color: map-get($color-set-1, bg-100);
          }
        }
      }

      &:hover {
        .dropdown-menu {
          display: block;
          opacity: 1;
          transform: translateY(0);
        }

        .dropdown-toggle svg {
          transform: rotate(90deg);
        }
      }
    }
  }

  .header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 1rem;

      /* Tooltip styling */
      &::after {
        content: attr(data-tooltip);
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        color: map-get($color-set-1, accent-200);
        padding: 2px 8px;
        border-radius: 8px;
        font-size: 10px;
        font-weight: bold;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%) translateY(10px);
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
      }

      /* Add a small triangle under the tooltip */
      &::before {
        content: "";
        position: absolute;
        top: 32px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px;
        border-style: solid;
        border-color: transparent transparent map-get($color-set-1, accent-200)
          transparent;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
      }

      /* Show the tooltip on hover */
      &:hover::after,
      &:hover::before {
        opacity: 0.6;
        visibility: visible;
        transform: translateX(-50%) translateY(0);
      }
    }
  }
}
