.site-header {
  position: fixed; /* 固定在顶部 */
  top: 0; /* 距离页面顶部为 0 */
  left: 0; /* 距离页面左侧为 0 */
  width: 100%; /* 背景填充整个页面宽度 */
  background-color: map-get($color-set-1, bg-200);
  border-bottom: 1px solid map-get($color-set-1, bg-300);
  z-index: 1000; /* 确保 header 层级高于其他内容 */
  padding: 15px 20px; /* 调整内边距，增加空间感 */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* 更精致的阴影效果 */
  // backdrop-filter: blur(10px); /* 增加模糊效果，透明玻璃感 */
  color: map-get($color-set-1, text-100); /* 文字颜色 */
  font-weight: bold;
  transition: background-color 0.3s, box-shadow 0.3s; /* 添加平滑的过渡效果 */

  /* 禁止选择和复制内容 */
  user-select: none;

  /* 内容限制在最大宽度 */
  .header-container {
    max-width: 1200px; /* 最大内容宽度 */
    margin: 0 auto; /* 水平居中 */
    padding: 0 20px; /* 左右内边距 */
    display: flex; /* Flexbox 布局 */
    justify-content: flex-start; /* 两端对齐 */
    align-items: center; /* 垂直居中对齐 */
  }

  /* 左边样式 */
  .header-left {
    position: relative; /* Ensure the tooltip is positioned relative to the parent */

    .site-title {
      display: flex;
      align-items: center;

      /* Tooltip styling */
      &::after {
        content: "Home"; /* The text for the tooltip */
        position: absolute;
        top: 30px; /* Position below the SVG */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%);
        color: map-get($color-set-1, accent-200); /* Text color */
        padding: 2px 8px; /* Padding inside the tooltip */
        border-radius: 8px; /* Rounded corners */
        font-size: 10px; /* Slightly larger font size */
        font-weight: bold; /* Make the text bold */
        white-space: nowrap; /* Prevent text wrapping */
        opacity: 0; /* Initially hide the tooltip */
        visibility: hidden; /* Make it invisible */
        transform: translateX(-50%) translateY(10px); /* Add an initial offset for animation */
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; /* Smooth animation */
      }

      /* Add a small triangle under the tooltip */
      &::before {
        content: "";
        position: absolute;
        top: 32px; /* Position above the tooltip */
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px; /* Size of the triangle */
        border-style: solid;
        border-color: transparent transparent map-get($color-set-1, accent-200)
          transparent; /* Triangle color matches gradient */
        opacity: 0; /* Initially hidden */
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
      }

      /* Show the tooltip on hover */
      &:hover::after,
      &:hover::before {
        opacity: 0.6;
        visibility: visible;
        transform: translateX(-50%) translateY(0); /* Bring it to its final position */
      }
    }
  }

  .header-center {
    display: flex;
    gap: 15px;
    font-weight: 600;
    margin-left: 50px;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 1rem;
      color: map-get($color-set-1, text-200);
      position: relative;

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 2px;
        background: map-get($color-set-1, accent-200);
        width: 0%;
        transition: width 0.5s;
      }

      &::before {
        top: 0;
        left: 0;
      }

      &::after {
        bottom: 0;
        right: 0;
      }

      &:hover::before,
      &:hover::after {
        width: 100%;
      }
    }

    .dropdown {
      position: relative;

      .dropdown-toggle {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;

        svg {
          width: 36px;
          height: 36px;
        }

        .avg-more path {
          animation: color-animation 3s infinite;
        }

        @keyframes color-fade-1 {
          0%,
          33% {
            fill: map-get($color-set-1, accent-200); /* 深颜色 */
            fill-opacity: 1; /* 第1个点显示 */
          }
          33.1%,
          100% {
            fill-opacity: 0; /* 第1个点隐藏 */
          }
        }

        @keyframes color-fade-2 {
          0%,
          33% {
            fill-opacity: 0; /* 第2个点隐藏 */
          }
          33.1%,
          66% {
            fill: map-get($color-set-1, accent-200); /* 深颜色 */
            fill-opacity: 1; /* 第2个点显示 */
          }
          66.1%,
          100% {
            fill-opacity: 0; /* 第2个点隐藏 */
          }
        }

        @keyframes color-fade-3 {
          0%,
          66% {
            fill-opacity: 0; /* 第3个点隐藏 */
          }
          66.1%,
          100% {
            fill: map-get($color-set-1, accent-200); /* 深颜色 */
            fill-opacity: 1; /* 第3个点显示 */
          }
        }

        svg path:nth-child(1) {
          animation: color-fade-1 3s infinite;
        }

        svg path:nth-child(2) {
          animation: color-fade-2 3s infinite;
        }

        svg path:nth-child(3) {
          animation: color-fade-3 3s infinite;
        }
      }

      .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: map-get($color-set-1, bg-200);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 9999;
        padding: 5px 5px;

        min-width: 150px;
        transform: translateY(10px); /* 初始下移 */
        opacity: 0; /* 初始透明 */
        transition: opacity 0.3s ease, transform 0.3s ease; /* 平滑过渡 */

        a {
          display: block;
          text-decoration: none;
          color: map-get($color-set-1, text-100);
          margin: 1px 0;
          border-radius: 4px;
          font-size: 0.8rem;

          &:hover {
            background-color: map-get($color-set-1, bg-100);
          }
        }
      }

      &:hover .dropdown-menu {
        display: block;
        opacity: 1; /* 显示 */
        transform: translateY(0); /* 上移到正常位置 */
      }
    }
  }

  /* 右边样式 */
  .header-right {
    margin-left: auto;
    display: flex;
    align-items: center; /* Vertically align all elements */
    gap: 20px;

    a {
      position: relative; /* Ensure the tooltip is positioned relative to each link */
      display: flex;
      align-items: center; /* Vertically align the icons */
      justify-content: center;
      text-decoration: none;
      font-size: 1rem;

      /* Tooltip styling */
      &::after {
        content: attr(
          data-tooltip
        ); /* Tooltip text from "data-tooltip" attribute */
        position: absolute;
        top: 30px; /* Position below the SVG */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%);
        color: map-get($color-set-1, accent-200); /* Tooltip text color */
        padding: 2px 8px; /* Padding inside the tooltip */
        border-radius: 8px; /* Rounded corners */
        font-size: 10px; /* Slightly larger font size */
        font-weight: bold; /* Bold text */
        white-space: nowrap; /* Prevent text wrapping */
        opacity: 0; /* Initially hide the tooltip */
        visibility: hidden; /* Make it invisible */
        transform: translateX(-50%) translateY(10px); /* Add an initial offset for animation */
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; /* Smooth animation */
      }

      /* Add a small triangle under the tooltip */
      &::before {
        content: "";
        position: absolute;
        top: 32px; /* Position above the tooltip */
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px; /* Size of the triangle */
        border-style: solid;
        border-color: transparent transparent map-get($color-set-1, accent-200)
          transparent; /* Triangle color matches tooltip text color */
        opacity: 0; /* Initially hidden */
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
      }

      /* Show the tooltip on hover */
      &:hover::after,
      &:hover::before {
        opacity: 0.6;
        visibility: visible;
        transform: translateX(-50%) translateY(0); /* Bring it to its final position */
      }
    }
  }
}
