.desc {
  color: map-get($color-set-2, primary-300);
  font-size: small;
  font-weight: bold;
  display: flex; /* 使用 flexbox 布局 */
  align-items: center; /* 垂直居中对齐 */
  gap: 8px; /* 图标与文字之间的间距 */
  opacity: 0.5;

  /* 禁止选择和复制内容 */
  user-select: none;

  /* 单独调整包含每个部分的 span */
  span {
    display: flex;
    align-items: center; /* 确保图标与文字在 span 内居中 */
    gap: 5px; /* 图标和文字的间距 */

    a {
      text-decoration: none;
      color: map-get($color-set-2, accent-100);
      font-size: 0.9em;

      &:hover {
        color: map-get($color-set-2, accent-200);
        text-decoration: underline;
      }
    }
  }

  /* 设置 SVG 的对齐方式 */
  svg {
    display: inline-block;
    vertical-align: middle; /* 确保与文本对齐 */
    width: 1em; /* 根据字体大小自动调整图标尺寸 */
    height: 1em;
  }

  .tags {
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;

    a {
      background-color: map-get($color-set-2, bg-200);
      padding: 0em 1em;
      border-radius: 5px;
      font-size: 0.9em;

      &:hover {
        background-color: map-get($color-set-2, bg-300);
      }
    }
  }
}

/* 固定标题样式 */
.toc {
  position: relative; /* 改为相对定位，不随内容滚动 */
  background-color: inherit; /* 背景色与 TOC 一致 */
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px; /* 上下内边距 */
  display: block;
  color: #333;

  &:has(#TableOfContents:empty) {
    display: none; /* 隐藏空的 TOC 容器 */
  }

  span {
    position: sticky; // 固定位置
    top: 0; // 距离顶部为 0
    background-color: inherit; // 背景色与 TOC 一致
    z-index: 1; // 确保标题不被内容覆盖
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px; // 上下内边距
    display: block;
    color: #333;
    width: 100%; // 设置宽度为100%，确保与父级一致
    border-bottom: 1px solid #ddd; // 添加分割线
    font-family: "Playwrite US Trad";
  }
  /* 定义 TableOfContents 的样式 */

  #TableOfContents {
    max-height: 300px; /* 设置固定高度 */
    overflow-y: auto; /* 超出部分隐藏并允许垂直滚动 */
    list-style: none; /* 去除列表样式 */
    padding: 10px;
    margin: 0; /* 去除外边距 */
    border-bottom: 1px solid #ddd; /* 添加分割线 */

    /* 隐藏滚动条 */
    scrollbar-width: none; /* 对 Firefox 生效 */
    -ms-overflow-style: none; /* 对 IE 和 Edge 生效 */

    &::-webkit-scrollbar {
      display: none; /* 对 Chrome 和 Safari 生效 */
    }

    a {
      text-decoration: none;
      color: map-get($color-set-3, text-200); /* 分组标题颜色 */

      &:hover {
        color: map-get($color-set-3, accent-100); /* 鼠标悬浮时颜色 */
      }
    }

    ol li {
      margin: 5px 0;
      transition: background-color 0.3s ease;
      border-radius: 4px;

      &:hover {
        background-color: map-get($color-set-1, bg-100); /* 鼠标悬浮时背景 */
      }
    }
  }
}

.single-content {
  strong {
    font-weight: bolder; /* 加粗 */
    color: map-get($color-set-4, primary-100); /* 突出颜色 */
    background-color: map-get($color-set-1, bg-100); /* 背景高亮 */
    padding: 2px 4px; /* 内边距让强调更明显 */
    border-radius: 4px; /* 圆角 */
  }

  a {
    color: map-get($color-set-1, accent-200); /* 默认链接颜色 */
    text-decoration: underline; /* 默认无下划线 */
    font-weight: 600; /* 加粗链接 */
    transition: color 0.3s ease, text-shadow 0.3s ease; /* 平滑过渡效果 */

    &:hover {
      color: map-get($color-set-1, accent-100); /* 悬停时链接颜色 */
      text-shadow: 0px 2px 5px map-get($color-set-1, accent-100); /* 添加阴影效果 */
    }

    &:visited {
      color: map-get($color-set-1, text-200); /* 已访问链接的颜色 */
    }

    &:active {
      color: map-get($color-set-1, primary-300); /* 点击时的链接颜色 */
      text-decoration: underline; /* 点击时显示下划线 */
    }
  }
}

.content-wrapper {
  max-width: inherit; // 内容最大宽度
  margin: 0 auto; // 水平居中
  position: relative; // 确保子元素可以相对定位
}

.back-to-top {
  position: fixed;
  bottom: 60px; // 距离底部 60px
  right: 20px; // 紧贴内容右侧
  color: map-get($color-set-3, accent-200); // 按钮文字或图标颜色
  font-size: 24px;
  text-align: center;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  &:hover {
    color: map-get($color-set-3, accent-100);
    cursor: pointer;
  }

  &::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: map-get($color-set-3, accent-200);
    padding: 5px 5x;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  &:hover::after {
    opacity: 1;
    color: map-get($color-set-3, accent-100);
    visibility: visible;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  .material-symbols-outlined {
    vertical-align: middle;
    font-size: 50px;
  }
}
