.desc {
    color: map-get($color-set-2, primary-300);
    font-size: small;
    font-weight:bold;
    display: flex; /* 使用 flexbox 布局 */
    align-items: center; /* 垂直居中对齐 */
    gap: 8px; /* 图标与文字之间的间距 */
    opacity: 0.5;

    /* 禁止选择和复制内容 */
    user-select: none;
    
    /* 单独调整包含每个部分的 span */
    span {
      display: flex;
      align-items: center; /* 确保图标与文字在 span 内居中 */
      gap: 5px; /* 图标和文字的间距 */

      a {
        text-decoration: none;
        color: map-get($color-set-2, accent-100);
        font-size: 0.9em;
  
        &:hover {
          color: map-get($color-set-2, accent-200);
          text-decoration: underline;
        }
      }
    }
  
    /* 设置 SVG 的对齐方式 */
    svg {
      display: inline-block;
      vertical-align: middle; /* 确保与文本对齐 */
      width: 1em; /* 根据字体大小自动调整图标尺寸 */
      height: 1em;
    }

    .tags {
        display: flex;
        align-items: center;
        gap: 8px;
        text-transform: capitalize;
    
        a {
        
          background-color: map-get($color-set-2, bg-200);
          padding: 0em 1em;
          border-radius: 5px;
          font-size: 0.9em;
    
          &:hover {
            background-color: map-get($color-set-2, bg-300);
          }
        }
      }
  }
  

.single-content {
  strong {
    font-weight: bolder; /* 加粗 */
    color: map-get($color-set-4, primary-100); /* 突出颜色 */
    background-color: map-get($color-set-1, bg-100); /* 背景高亮 */
    padding: 2px 4px; /* 内边距让强调更明显 */
    border-radius: 4px; /* 圆角 */
  }

  a {
    color: map-get($color-set-1, accent-200); /* 默认链接颜色 */
    text-decoration: underline; /* 默认无下划线 */
    font-weight: 600; /* 加粗链接 */
    transition: color 0.3s ease, text-shadow 0.3s ease; /* 平滑过渡效果 */
  
    &:hover {
      color: map-get($color-set-1, accent-100); /* 悬停时链接颜色 */
      text-shadow: 0px 2px 5px map-get($color-set-1, accent-100); /* 添加阴影效果 */
    }
  
    &:visited {
      color: map-get($color-set-1, text-200); /* 已访问链接的颜色 */
    }
  
    &:active {
      color: map-get($color-set-1, primary-300); /* 点击时的链接颜色 */
      text-decoration: underline; /* 点击时显示下划线 */
    }
  }
}