* {
  box-sizing: border-box;
}

.tags-container {
  display: flex; /* 使用 flex 布局 */
  flex-wrap: wrap; /* 允许内容换行 */
  gap: 20px; /* 设置每个标签之间的间距 */
  justify-content: space-between; /* 标签均匀分布 */
}

.tag-box {
  width: calc(50% - 20px); /* 宽度为容器的一半，减去间距 */
  max-height: 250px; /* 固定高度 */
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* 超出部分隐藏 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tag-box h2 {
  font-size: 1.2rem; /* 分组标题字体大小 */
  font-weight: bold;
  color: map-get($color-set-3, text-200); /* 分组标题颜色 */
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
  user-select: none; /* 禁止选中 */

  a {
    text-decoration: none;
    color: map-get($color-set-3, text-200); /* 分组标题颜色 */

    &:hover {
      color: map-get($color-set-3, accent-100); /* 鼠标悬浮时颜色 */
    }
  }

  span {
    font-size: 0.8rem; /* 标签数量字体大小 */
    color: map-get($color-set-2, text-200); /* 标签数量颜色 */
    opacity: 0.5;
  }
}

.tag-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px; /* 设置最大高度 */
  overflow-y: auto; /* 添加滚动条 */
  padding-right: 10px; /* 滚动条预留空间 */
}

.tag-box ul li {
  margin: 5px 0;
  border-bottom: 1px solid map-get($color-set-2, bg-100); /* 下边框分隔线 */
  transition: background-color 0.3s ease;
  border-radius: 8px;

  &:hover {
    background-color: map-get($color-set-1, bg-100); /* 鼠标悬浮时背景 */
  }
}

.tag-box ul li a {
  text-decoration: none;
  color: map-get($color-set-3, accent-100); /* 链接颜色 */
  transition: color 0.3s;
}

.tag-box ul li a:hover {
  text-decoration: none; /* 鼠标悬浮下划线 */
  color: map-get($color-set-3, text-100); /* 鼠标悬浮时颜色 */
}

@media (max-width: 768px) {
  .tag-box {
    width: 100%; /* 小屏幕时每个标签占整行 */
  }
}
