{{- $content := printf "%s" . | safeHTML -}}
{{- $class := "note" -}}
{{- $title := "Note" -}}

{{- if findRE "^\\[!NOTE\\]" $content 1 -}}
  {{- $class = "note" -}}
  {{- $title = "Note" -}}
  {{- $content = replaceRE "^\\[!NOTE\\]" "" $content -}}
{{- else if findRE "^\\[!TIP\\]" $content 1 -}}
  {{- $class = "tip" -}}
  {{- $title = "Tip" -}}
  {{- $content = replaceRE "^\\[!TIP\\]" "" $content -}}
{{- else if findRE "^\\[!IMPORTANT\\]" $content 1 -}}
  {{- $class = "important" -}}
  {{- $title = "Important" -}}
  {{- $content = replaceRE "^\\[!IMPORTANT\\]" "" $content -}}
{{- else if findRE "^\\[!WARNING\\]" $content 1 -}}
  {{- $class = "warning" -}}
  {{- $title = "Warning" -}}
  {{- $content = replaceRE "^\\[!WARNING\\]" "" $content -}}
{{- else if findRE "^\\[!CAUTION\\]" $content 1 -}}
  {{- $class = "caution" -}}
  {{- $title = "Caution" -}}
  {{- $content = replaceRE "^\\[!CAUTION\\]" "" $content -}}
{{- end -}}

<div class="admonition {{ $class }}">
  <p class="admonition-title"><em>{{ $title }}</em></p>
  {{ .Text }}
</div>
