{{ define "main" }}
<!-- <h1>{{ .Title }}</h1> -->
<div class="author-list">
  <ul style="display: flex; flex-wrap: wrap; gap: 20px; list-style: none; padding: 0;">
    {{ range .Pages }}
    <li style="flex: 0 1 calc(25% - 20px); max-width: 200px;">
      <a href="{{ .Permalink }}">
        <!-- card design is inspired by Rakotondrasoa Nirilala: https://uiverse.io/profile/ElSombrero2 -->
      <div class="card">
        <div class="content">
          <div class="back">
            <div class="back-content">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M480-120 200-272v-240L40-600l440-240 440 240v320h-80v-276l-80 44v240L480-120Zm0-332 274-148-274-148-274 148 274 148Zm0 241 200-108v-151L480-360 280-470v151l200 108Zm0-241Zm0 90Zm0 0Z"/></svg>
              <strong>{{ .Title }}</strong>
            </div>
          </div>
          <div class="front">
            <div class="img">
              <div class="circle"></div>
              <div class="circle" id="right"></div>
              <div class="circle" id="bottom"></div>
            </div>
            <div class="front-content">
              <small class="badge">{{ .Title }}</small>
              <div class="description">
                <div class="title">
                  <p class="title">
                    {{ with .Params.institution }}
                    <strong>{{ . }}</strong>
                    {{ end }}
                  </p>
                  <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg>
                </div>
                <p class="card-footer">
                  {{ $author := .Title }} <!-- 获取当前作者的名称 -->
                  {{ $articles := slice }} <!-- 初始化空的文章列表 -->
                
                  {{ range .Site.RegularPages }}
                  {{ $normalizedPath := strings.Replace .File.Path "\\" "/" -1 }}
                  {{ if not (or (eq .File.BaseFileName "archive") (strings.HasPrefix $normalizedPath "authors/")) }}
                    {{ $pageAuthor := or (.Params.author) .Site.Params.author }} <!-- 检查 Front Matter 和全局配置 -->
                    {{ if eq $pageAuthor $author }}
                      {{ $articles = $articles | append . }}
                    {{ end }}
                  {{ end }}
                  {{ end }}
                
                  {{ len $articles }} Articles
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
