{{ define "main" }}
<div class="archive-container">
<h1>Archive</h1>

<span class="material-icons">atm <p>Total pages: {{ len .Site.RegularPages }}</p></span>
{{ $grouped := dict }}

{{ range .Site.RegularPages }}
  {{ $key := .Date.Format "2006-01" }}
  {{ $existing := index $grouped $key | default slice }}
  {{ $grouped = merge $grouped (dict $key ($existing | append .)) }}
{{ end }}

{{ $sortedKeys := slice }}
{{ range $key, $value := $grouped }}
  {{ $sortedKeys = $sortedKeys | append $key }}
{{ end }}

{{ $sortedKeys = sort $sortedKeys }}
{{ $total := len $sortedKeys }}
{{ $reversedKeys := slice }}
{{ range $i := seq $total }}
  {{ $index := sub $total $i }}
  {{ $reversedKeys = $reversedKeys | append (index $sortedKeys $index) }}
{{ end }}

{{ range $reversedKeys }}
  {{ $key := . }}
  {{ $pages := index $grouped $key }}
  {{ $year := substr $key 0 4 }}
  {{ $month := substr $key 5 2 }}
  <h2>{{ $year }} 年 {{ $month }} 月</h2>
  <ul>
    {{ range $pages }}
      <li>
        <a href="{{ .RelPermalink }}">
          {{ .Date.Format "2006-01-02" }} {{ .Title }}
        </a>
      </li>
    {{ end }}
  </ul>
{{ end }}
</div>
{{ end }}