{{ define "main" }}
<div class="archive-container">
  <h1>Archive</h1>

  <div class="icon-text-container">
    <!-- 初始化总字数 -->
    {{ $totalWords := 0 }} {{ $filteredPages := slice }}

    <!-- 筛选符合条件的文章 -->
    {{ range .Site.RegularPages }} {{ $normalizedPath := strings.Replace
    .File.Path "\\" "/" -1 }} {{ if not (or (eq .File.BaseFileName "archive")
    (strings.HasPrefix $normalizedPath "authors/")) }} {{ $filteredPages =
    $filteredPages | append . }} {{ $totalWords = add $totalWords .WordCount }}
    {{ end }} {{ end }}

    <!-- 总文章数和字数 -->
    <div class="text-info">
      <span>
        <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#5f6368"
      >
        <path
          d="M280-280h280v-80H280v80Zm0-160h400v-80H280v80Zm0-160h400v-80H280v80Zm-80 480q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
        />
      </svg>
      {{ len $filteredPages }}
      </span>
       <span>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M80-120v-80h800v80H80Zm40-120v-280h120v280H120Zm200 0v-480h120v480H320Zm200 0v-360h120v360H520Zm200 0v-600h120v600H720Z"/></svg>
        </span>
        {{ $totalWords }}
    </div>
  </div>

  <!-- 分页器设置 -->
  {{ $paginator := .Paginate $filteredPages 8 }}
  <!-- 每页显示6条记录 -->

  {{ $grouped := dict }} {{ range $paginator.Pages }} {{ $normalizedPath :=
  strings.Replace .File.Path "\\" "/" -1 }} {{ if not (or (eq .File.BaseFileName
  "archive") (strings.HasPrefix $normalizedPath "authors/")) }} {{ $key :=
  .Date.Format "2006-01" }} {{ $existing := index $grouped $key | default slice
  }} {{ $grouped = merge $grouped (dict $key ($existing | append .)) }} {{ end
  }} {{ end }} {{ $sortedKeys := slice }} {{ range $key, $value := $grouped }}
  {{ $sortedKeys = $sortedKeys | append $key }} {{ end }} {{ $sortedKeys = sort
  $sortedKeys }} {{ $total := len $sortedKeys }} {{ $reversedKeys := slice }} {{
  range $i := seq $total }} {{ $index := sub $total $i }} {{ $reversedKeys =
  $reversedKeys | append (index $sortedKeys $index) }} {{ end }} {{ range
  $reversedKeys }} {{ $key := . }} {{ $pages := index $grouped $key }} {{ $year
  := substr $key 0 4 }} {{ $month := substr $key 5 2 }}
  <span style="font-weight: bolder;">{{ $year }} 年 {{ $month }} 月</span>
  <ul>
    {{ range $pages }} {{ $normalizedPath := strings.Replace .File.Path "\\" "/"
    -1 }} {{ if not (or (eq .File.BaseFileName "archive") (strings.HasPrefix
    $normalizedPath "authors/")) }}
    <li>
      <a href="{{ .RelPermalink }}">
        {{ .Date.Format "2006-01-02" }} {{ .Title }}
      </a>
    </li>
    {{ end }} {{ end }}
  </ul>
  {{ end }}

  <!-- 分页导航 -->
  {{ if gt $paginator.TotalPages 1 }}
  <div class="pagination">
    <!-- 首页 -->
    {{ if $paginator.HasPrev }}
    <a href="{{ (index $paginator.Pagers 0).URL }}" aria-label="首页">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#5f6368"
      >
        <path
          d="M240-240v-480h80v480h-80Zm440 0L440-480l240-240 56 56-184 184 184 184-56 56Z"
        />
      </svg>
    </a>
    {{ end }}

    <!-- 上一页 -->
    {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}" aria-label="上一页">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#5f6368"
      >
        <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
      </svg>
    </a>
    {{ end }}

    <!-- 页码 -->
    {{ range $paginator.Pagers }} {{ if eq . $paginator }}
    <strong>{{ .PageNumber }}</strong>
    {{ else }}
    <a href="{{ .URL }}">{{ .PageNumber }}</a>
    {{ end }} {{ end }}

    <!-- 下一页 -->
    {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}" aria-label="下一页">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#5f6368"
      >
        <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
      </svg>
    </a>
    {{ end }}

    <!-- 尾页 -->
    {{ if $paginator.HasNext }}
    <a
      href="{{ (index $paginator.Pagers (sub $paginator.TotalPages 1)).URL }}"
      aria-label="尾页"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#5f6368"
      >
        <path
          d="m280-240-56-56 184-184-184-184 56-56 240 240-240 240Zm360 0v-480h80v480h-80Z"
        />
      </svg>
    </a>
    {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}
