// 系统和通用字体
$font-sans-serif: "Poppins", "Montserrat", "Raleway", Roboto, -apple-system, 
  BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, 
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// 系统代码字体
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace;

// 添加 JetBrains Mono 字体
$font-jetbrains-mono: "JetBrains Mono";

// 中文字体（可选替代，如用系统默认字体）
$font-chinese: "Noto Serif SC", "PingFang SC", "Microsoft YaHei", "SimSun", serif;

// 自定义字体变量
$font-base: $font-chinese, $font-sans-serif; // 英文优先使用 sans-serif，中文使用系统默认字体
$font-code: $font-jetbrains-mono; // 优先使用 JetBrains Mono 作为代码字体


// 颜色变量，使用示例：map-get($color-set-1, bg-100);
$color-set-1: (
  primary-100: #d4eaf7,
  primary-200: #b6ccd8,
  primary-300: #3b3c3d,
  accent-100: #71c4ef,
  accent-200: #00668c,
  text-100: #1d1c1c,
  text-200: #313d44,
  bg-100: #fffefb,
  bg-200: #f5f4f1,
  bg-300: #cccbc8,
);

$color-set-2: (
  primary-100: #8fbf9f,
  primary-200: #68a67d,
  primary-300: #24613b,
  accent-100: #f18f01,
  accent-200: #833500,
  text-100: #353535,
  text-200: #5f5f5f,
  bg-100: #f5ecd7,
  bg-200: #ebe2cd,
  bg-300: #c2baa6,
);

$color-set-3: (
  primary-100:#019b98,
  primary-200:#55ccc9,
  primary-300:#c1ffff,
  accent-100:#dd0025,
  accent-200:#ffbfab,
  text-100:#014e60,
  text-200:#3f7a8d,
  bg-100:#fbfbfb,
  bg-200:#f1f1f1,
  bg-300:#c8c8c8,
)