{{ define "main" }}
<section>
  <h1>Tags</h1>
  <div class="tags-container">
    {{ range .Data.Terms }}
      <div class="tag-box">
        <span> 
            <a href="{{ .Page.Permalink }}" style="color: #00668c">{{ .Page.Title }}</a> <span style="font-size: 0.8rem">{{ .Count }}</span>
        </span>
        <ul>
          {{ range .Pages }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </div>
</section>
{{ end }}